* {
    font-family: 'Acme', sans-serif;
}

body{
    margin: 0 0;
    
}
html{
    scroll-behavior: smooth;
}
.cont2{
    display: flex; 
    position: absolute;
    position: sticky;
    top: 0;
    width: 100%;
    background-attachment: fixed;
}
nav::before{
    content: "";
    background-color: black;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: bold;
   
    
}
a{
    text-decoration: none;
    color:white;
    margin: 2px 2px;
    padding: 10px 10px;
}
a:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
    opacity: 0.7;
    
}
.ig img{
    height: 40px;
    width: 45px;
    margin: 20px 20px;
}
.ig:hover{
    transform: scale(1.5);
    position: relative;
}
.anc{
    display: flex;
    align-items: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 326px;
   
}

.cont3{
    width: 750px;
    text-align: center;
   font-size: 17px;
    margin-top: 15px ;
    color: white;
}
.btn{
    background-color: rgb(158, 50, 23);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 7px;
    margin: 10px;
   
}
section::before{
    content: "";
    background-image: url('bg1.jpg');
   background-size: cover;
   background-position: center;
    height: 411px;
    width: 100%;
    position:absolute;
    z-index: -2;
    opacity:0.9 ;
  top: 0px;
  
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(175, 87, 65) ;
}
.cont5{
    display: flex;
  
}
.box5{
    border: 2px solid brown;
    border-radius: 26px;
    margin: 2px 25px;
    padding: 24px 24px;
    text-align: center;
    background-color: rgb(231, 223, 235);
    
}
.pizza{
    height: 118px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: center;
}
.cont4 h1{
    text-align: center;
}
.box5 h3,p{
    margin: 1px;
}

.cont6{
    text-align: center;
}
.logo1{
    display: flex;
    justify-content: center;
}
.logo{
    margin: 20px 26px;
    height: 100px;
    width: 100px;
}
footer::before{
    content: "";
    background-image: url("bg.jpg");
    width: 100%;
    height: 241px;
    background-position: center;
    position: absolute;
    left: 0px;
    z-index: -3;
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
}
.cont7{
   
    display: flex;
    justify-content: center;
}
.box9{
    width: 100%;
    margin: 2px 0px;
    border-radius: 2px;
    padding: 6px 0px;
}
#btn1{
background-color: rgb(133, 11, 11);
color: white;
padding: 4px 0px;
}
#b3{
    text-align: center;
     margin: 0;
    padding-top: 16px;
    font-size: 32px;
}
aside::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 370px;
    background-image: url('contact.jpg');
    background-position: center;
    background-size: cover;
    z-index: -4;
    opacity: 0.3;
}
.cont10{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    
   
}
footer{
    height: 241px;
}
#b2{
    padding-top: 16px;
    margin: 0;
}

